{% load staticfiles %}
<!DOCTYPE html>
<html>
<!--SE SEPARA EL HEAD PARA MEJORAR -->
{% include "head.html" %}

<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

{% include "encabezado.html" %}
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        {% include "menu.html" %}
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Colaboradores
      </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--Contenido de la Pagina -->


    <!--CONTENIDO DE PAGINA -->
    <div class="row" style="margin-bottom:15px;">

        <!-- INPUT BUSCAR -->
        <div class="col-md-2">
            <input id="search_cells" type="text" class="form-control input-sm" placeholder="Buscar  Colaborador"/>
        </div>

            <!-- CREAR USUARIO -->
            <div class="col-md-2">
                <a href="#" class="btn btn-primary btn-block btn-sm" onclick="cargarModalColaborador();">
                    <i class="fa fa-plus">&nbsp;&nbsp;Crear Colaborador</i>
                </a> 
            </div>
    
                <!-- GENERAR EXCEL -->
            <div class="col-md-2">
                <a href ="/excelColaboradores" class="btn btn-success btn-block btn-sm" id="excel">
                    <i class="fa fa-file-excel-o">&nbsp;&nbsp; Generar Excel</i>
                </a>
                
            </div>
            
                <!-- GENERAR PDF -->
            <div class="col-md-2">
                <a href="/pdfColaboradores" class="btn btn-danger btn-block btn-sm" id="pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;&nbsp; Generar Pdf</i>
                </a>
            </div>
    </div>
        <!-- GRID USUARIOS-->
      <table id="gridColaboradores"></table>
      <div id="pagerColaboradores" style="color:black"></div>


    <!-- MODA COLABORADOR-->

    <div class="modal fade" id="modalColaborador">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fa fa-window-close"></i>
                </button>
                    <h4 class="modal-title"><strong>Colaborador</strong> </h4>
            </div>
            <div class="modal-body">
                <form action="" role="form" id="formColaborador" autocomplete="off">
                <div class="box-body">
                    <input type="hidden" id="idColaborador">
                    <input type="hidden" id="accion">
                    <div class="form-group">
                        <label for="nombre" class="value_required">Nombre:</label>
                        <select  id="id_personal">
                            <option disabled selected>Seleccione:</option>
                            {% for persona in personal %}
                                <option id="{{ persona.id }}" value="{{ persona.id }}">{{ persona.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="jefe de area" class="value_required">Proceso:</label>
                        <select  id="id_proceso"  class="form-control" required>
                            <option selected disabled>Seleccione:</option>
                            {% for proceso in procesos %}
                                <option id="{{ proceso.id }}" value="{{ proceso.id }}">{{ proceso.proceso }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Estado" class="value_required">Estado:</label>
                        <select  id="estadoColaborador" class="form-control">
                        <option   disabled selected>Seleccione</option>
                        <option id="1" value="1">Activo</option>
                        <option id="0" value="0">Inactivo</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label style="color:red;">*Campos Obligatorios </label>
                        </div>
                    </div>
                </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="confirmarGrabar();">
                    <i class="fa fa-check-square-o">&nbsp;Grabar Datos</i>
                </button>
                <!-- pull-left determina posicion-->
                <button type="button" class="btn btn-danger " data-dismiss="modal">
                    <i class="fa fa-close">&nbsp; Salir</i> 
                </button>

            </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>





    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- Default to the left
    <strong>RG-ManagementCorp</strong>
     -->
    <img src="{% static 'images/rg/logo.jpg' %}" class="img-fluid" style="height: 50px; width: 25%; display: block;">
  </footer>


  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg">
  </div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="{% static 'adminLTE/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'adminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminLTE/dist/js/adminlte.min.js' %}"></script>
<!-- CARGANDO JQGRID REQUIERE jquery-3.2.1.js-->
<script src="{% static 'jqgrid/js/i18n/grid.locale-es.js' %}"></script>
<script src="{% static 'jqgrid/js/jquery.jqGrid.min.js' %}"></script>
<link href="{% static 'jqgrid/css/ui.jqgrid.css' %}" rel="stylesheet">
<link href="{% static 'jqgrid/css/jquery-ui.css' %}" rel="stylesheet">

<!-- CARGA LIBRERIAS/FUNCIONES EXTERNAS-->
<script src="{% static 'sweetAlert/sweetalert.js' %}"></script>
<script src="{% static 'module/validaciones.js' %}"></script>
<!-- INDEX JS -->
<script src="{% static 'module/colaboradores.js' %}"></script>
</body>
</html>