{% load staticfiles %}
<!DOCTYPE html>
<html>
<!--SE SEPARA EL HEAD PARA MEJORAR EL RENDIMIENTO DE CARGA -->
{% include "head.html" %}

<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <span href="" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b><i class="fa fa-cogs"></i> </b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="{% static 'images/logos/gear6.jpg' %}" width="65" height="41" style="border: 3px solid #ddd; border-radius: 4px;"><b> &nbsp;<b>Menú</span>
    </span>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Menú de Navegacion</span>
      </a>
        <div class="navbar-custom-menu " style="margin-right:40px">
            <ul class="nav navbar-nav ">
                <li class="dropdown notifications-menu">
                     <a href="http://www.rgmanagementcorp.com"  target="_blank">
                        <img src="{% static 'images/rg/help2.png' %}"  width="60" height="30" style="background-color:white;border: 3px solid #ddd; border-radius: 4px;" >
                        <span class="label label-danger"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- NOTIFICACIONES UNIFICADAS -->
        <div class="navbar-custom-menu pull-left" style="margin-left:80px">
            <ul class="nav navbar-nav">
                <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-danger"><i class="fa fa-info text-white"></i></span>
                </a>
                    <ul class="dropdown-menu">
                    {% include "user/notificaciones.html" %}
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static 'adminLTE/dist/img/user-icon.png' %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ request.session.nombreUsuario }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

    <!-- MENU UNIFICADO -->
    {% include 'user/menu.html' %}

    </section>

  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-5">
                <ol class="breadcrumb">
                    <li>
                      <a href="javascript:void(0)"><i class="fa fa-folder-open-o"></i> Gestión Documental</a>
                    </li>
                    <li class="active">
                     Estado Documentos 
                    </li>
                </ol>
            </div>
        </div>
    </section>



    <!-- SECCION CONTENIDO DE LA PAGINA -->
    <section class="content container-fluid">
        <!-- MENSJE EXITOSO DE SUBIDO -->
        {% if messages %}            
          {% for message in messages %} 
            <script>
              swal('{{message}}', '', '{{ message.tags }}'); 
            </script>                               
          {% endfor %}
        {% endif %}

       <div class="row" style="margin-top:-15px;">
            <!-- INPUT BUSCAR -->
            <div class="col-md-2">
                <input id="search_cells" type="text" class="form-control input-sm" placeholder="Buscar.."/>
            </div>
       </div>
        <!-- GRILLA ESTADO DOCUMENTACION -->
        <div style="margin-top:10px; widows: 100px; overflow:auto;">
            <table id="gridEstadoDocumentacion"></table>
        </div>
        <div id="pagerGridEstadoDocumentacion"></div>



      <!--SUBIR ARCHIVO -->
      <div class="modal fade" id="subirArchivo">
        <div class="modal-dialog">
          <div class="modal-content">
              <form action="/updateACtProce" method="POST" autocomplete="off" role="form"  enctype="multipart/form-data" id="formSubirArchivo">
                  {% csrf_token %}
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <i class="fa fa-window-close"></i>
                  </button>
                  <span class="badge bg-green">SUBIR ARCHIVO</span>
              </div>
              <div class="modal-body">
                  <input type="hidden" name="id_documento" id="id_documento">
                  <input type="hidden" name="accion" id="accion">
                  <input type="hidden" name="director_id" id="director_id">
                  <input type="hidden" name="lider_id" id="lider_id">
                  <input type="hidden" name="admin_id" id="admin_id">
                  
                  <div class="form-group">
                      <label for="Archivo" class="value_required">Seleccione su archivo:</label>
                      {{documentoForm.archivo}}
                  </div>
                  <div class="form-group">
                    <label for="Nombre" class="value_required">Nombre del Procedimiento:</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label for="Descripcion">Descripción:</label>
                    <textarea name="descripcion" id="descripcion" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="Version" class="value_required">Versión:</label>
                    <input type="text" name="version" id="version" class="form-control" value="1.0" readonly required>
                  </div>
  
                    <select id="procedimiento" name="procedimiento" class="form-control" required onchange="setDestino($(this).val())" style="display:none">
                      <option disabled selected>Seleccione:</option>
                      {% for procedimiento in estado_documentos %}
                        <option value="{{procedimiento.id}}">{{ procedimiento.procedimiento }} </option>
                      {% endfor %}
                    </select>

                  <input type="hidden" class="form-control" id="destino" name="destino" readonly>
                  <div class="row">
                      <div class="col-md-4">
                          <label style="color:red;">*Campos Obligatorios </label>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Grabar Datos</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
              </div>
              </form>
          </div>
        </div>
      </div>


      <!-- REEMPLAZAR ARCHIVO -->
      <div class="modal fade" id="reemplazarArchivo">
        <div class="modal-dialog">
          <div class="modal-content">
              <form action="/updateACtProce" method="POST" autocomplete="off" role="form"  enctype="multipart/form-data" id="formSubirArchivo">
                  {% csrf_token %}
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <i class="fa fa-window-close"></i>
                  </button>
                  <span class="badge bg-orange">Reemplazar Archivo</span>
              </div>
              <div class="modal-body">
                <input type="hidden" name="id_documento" id="id_documento">
                <input type="hidden" name="accion" id="accion">
                <input type="hidden" name="director_id" id="director_id">
                <input type="hidden" name="lider_id" id="lider_id">
                <input type="hidden" name="admin_id" id="admin_id">
                
                <div class="form-group">
                    <label for="Archivo" class="value_required">Seleccione un Archivo:</label>
                    {{documentoForm.archivo}}
                </div>
  
                <select id="procedimiento" name="procedimiento" class="form-control" required onchange="setDestino($(this).val())" style="display:none">
                  <option disabled selected>Seleccione:</option>
                  {% for procedimiento in estado_documentos %}
                    <option value="{{procedimiento.id}}">{{ procedimiento.procedimiento }} </option>
                  {% endfor %}
                </select>

                <input type="hidden" class="form-control" id="destino" name="destino" readonly>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Grabar Datos</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
              </div>
              </form>
          </div>
        </div>
      </div>


    <!-- Modal -->
    <div class="modal fade" id="modalArchivoNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="/upload_nuevoDocumento" method="POST" enctype="multipart/form-data" id="formSubirArchivo">
            {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title badge bg-green" id="exampleModalLabel">Subir Nuevo Documento</h4>
          </div>
          <div class="modal-body">
            <input type="hidden" id="proceso_id" name="proceso_id">
            <input type="hidden" id="procedimiento_id" name="procedimiento_id">
            <input type="hidden" id="director_id" name="director_id">
            <input type="hidden" id="lider_id" name="lider_id">
            <input type="hidden" id="admin_id" name="admin_id">
            <input type="hidden" id="destino" name="destino">

            <div class="form-group">
              <label for="Documento" class="value_required">Documento:</label>
              <input type="file" name="documento" id="documento" required="" class="form-control">
            </div>
            <div class="form-group">
              <label for="Nombre" class="value_required">Nombre:</label>
              <input type="text" name="nombre" id="nombre" value="" required="" class="form-control">
            </div>
            <div class="form-group">
              <label for="Nombre" >Descripción:</label>
              <textarea name="descripcion" id="descripcion" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label for="Version" class="value_required">Version:</label>
              <input type="text" name="version" id="version" value="" required="" class="form-control">
            </div>
            <div class="form-group">
              <label for="Procedimiento">Procedimiento:</label>
              <select name="procedimiento" id="procedimiento" class="form-control" disabled="">
                {% for procedimiento in procedimientos_list %}
                <option value="{{ procedimiento.id }}">{{ procedimiento.proceso }}</option>
                {% endfor %}
              </select>
            </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"> Grabar Datos</i></button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"> Cancelar</i></button>
          </div>
          </form>
        </div>
      </div>
    </div>



             <!-- MODAL para las  observaciones -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modalHallazgo">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title"><span class="badge bg-green">Detalle</span></h5>
                </div>
                <div class="modal-body">
                    <form id="form_hallazgo">
                        <div class="form-group">
                            <label for="descripcion" class="value_required">Detalle:</label>
                            <textarea id="descripcion" class="form-control" placeholder="Detalle" readonly></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Salir</button>
                </div>
            </div>
        </div>
    </div>



     <!-- MODAL NUEVA VERSION -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modalNuevaVersion">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="formNuevaVersion" method="post" action="subir_nuevaversion" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title"><span class="badge bg-green">Subir Nueva Versión</span></h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="admin_id" name="admin_id">
                    <input type="hidden" id="director_id" name="director_id">
                    <input type="hidden" id="lider_id" name="lider_id">
                    <input type="hidden" id="proceso_id" name="proceso_id">
                    <input type="hidden" id="procedimiento_id" name="procedimiento_id">
                    <input type="hidden" id="destino" name="destino">
                    <div class="form-group">
                        <label for="documento" class="value_required">Archivo</label>
                        <input type="file" class="form-control" id="documento" name="documento" required title="Seleccione su archivo">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nombre" class="value_required">Nombre</label>
                            <input type="text" name="nombre" id="nombre" class="form-control" required readonly>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="version" class="value_required">Versión</label>
                                <input type="text" name="version" id="version" class="form-control" required readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="procedimiento">Procedimiento:</label>
                      <select name="procedimiento" id="procedimiento" class="form-control" disabled>
                        {% for procedimiento in procedimientos_list %}
                        <option value="{{ procedimiento.id }}">{{ procedimiento.proceso }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="descripcion" >Descripción</label>
                        <textarea name="descripcion" id="descripcion" rows="4" class="form-control" placeholder="Ingrese una breve descripción(no obligatorio)."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Grabar Datos</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Salir</button>
                </div>
                </form>
            </div>
        </div>
    </div>



    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <img src="{% static 'images/rg/logo.jpg' %}" class="img-fluid" style="height: 50px; width: 25%; display: block;">
  </footer>


  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg">
  </div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="{% static 'adminLTE/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'adminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminLTE/dist/js/adminlte.min.js' %}"></script>
<!-- CARGANDO JQGRID REQUIERE jquery-3.2.1.js-->
<script src="{% static 'jqgrid/js/i18n/grid.locale-es.js' %}"></script>
<script src="{% static 'jqgrid/js/jquery.jqGrid.min.js' %}"></script>
<link href="{% static 'jqgrid/css/ui.jqgrid.css' %}" rel="stylesheet">
<link href="{% static 'jqgrid/css/jquery-ui.css' %}" rel="stylesheet">

<!-- CARGA LIBRERIAS/FUNCIONES EXTERNAS-->
<script src="{% static 'sweetAlert/sweetalert.js' %}"></script>
<script src="{% static 'module/validaciones.js' %}"></script>
<script src="{% static 'module/estadoDocumentacion.js' %}"></script>
</body>
</html>
<style>
 th.ui-th-column div {
    white-space: normal !important;
    height: auto !important;
    padding: 1px;
 }

</style>