<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Procesos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<style>

    td,tr 
{
    height: 28px; 
    width:auto;
    text-align:center; 
    /*vertical-align:middle; */
}
.customTableHeader{
    font-family:Times New Roman;
    font-weight: bold;
    font-size: 12px;
    vertical-align:middle;
}


</style>
<h1 style="text-align:center;  font-family:Times New Roman; font-weight: bold;">Reporte General de Procesos</h1>

{% if areas %}
 <table border="1">
     <thead>
         <th width="10%" class="customTableHeader" bgcolor="lightskyblue">#</th>
         <th width="40%" class="customTableHeader" bgcolor="lightskyblue">Proceso</th>
         <th width="70%" class="customTableHeader" bgcolor="lightskyblue">Descripción</th>
         <th width="70%" class="customTableHeader" bgcolor="lightskyblue">Encargado</th>
     </thead>
     <tbody>
      
        {% for e in areas %}
            <tr>
                <!-- MENSAJE PERSONALIZADO EN BASE AL Estado -->
                {% if e.estado == "1" %}

                    <td>{{ forloop.counter }}</td>
                    <td>{{ e.area }}</td>
                    <td>{{ e.descripcion }}</td>
                    <td>{{ e.encargado }}</td>

                {% elif e.estado == "0" %}
                    <td >{{ forloop.counter }}</td>
                    <td style="color:red;">{{ e.area }}</td>
                    <td style="color:red;">{{ e.descripcion }}</td>
                    <td style="color:red;">{{ e.encargado }}</td>
                {% endif %}
            </tr>
        {% endfor %}
     </tbody>
 </table>
 {% else %}
    <h4 style="text-align:center;">No existe Proceso !!</h4>
 {% endif %}    

</body>
</html>