<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Informe Auditoria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<style>

    td,tr 
{
    height: 28px; 
    width:auto;
    text-align:center; 
    /*vertical-align:middle; */
}
.customTableHeader{
    font-family:Times New Roman;
    font-weight: bold;
    font-size: 12px;
    vertical-align:middle;
}

</style>
<!--
<h1 style="text-align:center;  font-family:Times New Roman; font-weight: bold;">AUDITORÍA INTERNA</h1></br>
<h1 style="text-align:center;  font-family:Times New Roman; font-weight: bold;">INFORME FINAL</h1></br>
-->

{{informe | safe }}


</body>
</html>