{% load staticfiles %}
<!DOCTYPE html>
<html>
<!--SE SEPARA EL HEAD PARA MEJORAR -->
{% include "head.html" %}

<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

{% include "encabezado.html" %}
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <section class="sidebar">
        {% include "menu.html" %}
    </section>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-5">
          <ol class="breadcrumb">
              <li>
            <a href="#"><i class="fa fa-folder-open-o"></i> Gestión Documental</a>
              </li>
              <li class="active">
                Estado Documentación
              </li>
          </ol>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <!-- BOTON FIRMAR-->
        <div class="row" style="margin-top:-15px">
            <!-- INPUT BUSCAR -->
            <div class="col-md-2">
                <input id="search_cells" type="text" class="form-control input-sm" placeholder="Buscar"/>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalDocumento">
                   <i class="glyphicon glyphicon-ok-sign"></i> Firmar Documento
                </button>
            </div>
        </div>

        <!-- GRILLA ESTADO DOCUMENTACION -->
        <div style="widows: 100px; overflow:auto;">
        <table id="gridEstadoDocumentacion"></table>
        </div>
        <div id="pagerEstadoDocumentacion" style="color:black"></div>
      

        <!-- MODAL ESTADO DOCUMENTO -->
        <div class="modal fade" id="modalEstadoDocumento" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <form action="/updateDocAdmin" id="form_estado_documento" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="exampleModalLabel"><strong>Estado del Documento</strong> </h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="id_documento" name="id_documento">
                        <input type="hidden" id="id_revision" name="id_revision">
                        <div class="form-group">
                            <label for="Estado" class="value_required">Estado:</label>
                            <select id="estado_documento" name="estado_documento" class="form-control" onchange="javascript:mostrarDivObservaciones($(this).val())" required>
                               <option selected disabled>Seleccione:</option>
                                <option value="4">Aprobado</option>
                                <option value="2">Observaciones</option>
                            </select>
                        </div>
                        <div class="form-group" id="div_observaciones" style="display:none">
                            <label for="Observaciones" class="value_required">Observaciones:</label>
                            <textarea name="observaciones" id="observaciones" cols="30" rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Grabar Datos</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                    </div>
                </form>
                </div>
            </div>
        </div>

           <!-- MODAL para las  observaciones -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modalHallazgo">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title"><span class="badge bg-green">Detalle</span></h5>
                </div>
                <div class="modal-body">
                    <form id="form_hallazgo">
                        <div class="form-group">
                            <label for="Estado" class="value_required">Detalle:</label>
                            <textarea id="descripcion" class="form-control" placeholder="Detalle" maxlength="100" readonly></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Salir</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Documento -->
    <div class="modal fade" id="modalDocumento" tabindex="-1" role="dialog" aria-labelledby="modalDocumento" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
              <h5 class="modal-title"><span class="badge bg-green"> Firmar Documento</span></h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="Documento" class="value_required">Documento:</label>
                <select name="documento" id="documento" required class="form-control">
                {% for documento in documentos %}
                    <option value="{{ documento.id }}">{{ documento.nombre }}--Version({{ documento.version }})</option>
                {% endfor %}
                </select>
            </div>
              <!--
            <div class="form-group">
              <label for="Nota" class="value_required">Requisito</label>
              <textarea name="nota" id="nota" class="form-control" rows="3" readonly>Tome en cuenta que para proceder a firmar el Documento, se debe haber subido previamente las respectivas firmas(Administrador, Director de Area, Lider de Norma).
              </textarea>
            </div>
             -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="confirmar_firma();"><i class="fa fa-check"></i> Aceptar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="fa fa-close"></i> Salir</button>
          </div>
        </div>
      </div>
    </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- Default to the left
    <strong>RG-ManagementCorp</strong>
     -->
    <img src="{% static 'images/rg/logo.jpg' %}" class="img-fluid" style="height: 50px; width: 25%; display: block;">
  </footer>


  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg">
  </div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="{% static 'adminLTE/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'adminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminLTE/dist/js/adminlte.min.js' %}"></script>
<!-- CARGANDO JQGRID REQUIERE jquery-3.2.1.js -->
<script src="{% static 'jqgrid/js/i18n/grid.locale-es.js' %}"></script>
<script src="{% static 'jqgrid/js/jquery.jqGrid.min.js' %}"></script>
<link href="{% static 'jqgrid/css/ui.jqgrid.css' %}" rel="stylesheet">
<link href="{% static 'jqgrid/css/jquery-ui.css' %}" rel="stylesheet">

<!-- DATATABLES JS
<link rel="stylesheet" href="{% static 'DataTables/dataTables.min.css' %}">
<script src="{% static 'DataTables/dataTables.min.js' %}"></script>
-->
<!-- CARGA LIBRERIAS/FUNCIONES EXTERNAS-->
<script src="{% static 'sweetAlert/sweetalert.js' %}"></script>
<script src="{% static 'module/validaciones.js' %}"></script>
<script src="{% static 'module/gestionDocumental/estadoDocumentacion.js' %}"></script>

</body>
</html>