  {%load staticfiles %}
    <!-- Main Header -->
  <header class="main-header">

        <!-- Logo -->
        <span href="" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b><i class="fa fa-cogs"></i> </b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><img src="{% static 'images/logos/gear6.jpg' %}" width="65" height="41" style="border: 3px solid #ddd; border-radius: 4px;"><b> &nbsp;<b>Menú</span>
        </span>
    
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Menú de Navegacion</span>
          </a>
        <div class="navbar-custom-menu " style="margin-right:40px">
            <ul class="nav navbar-nav ">
                <li class="dropdown notifications-menu">
                     <a href="http://www.rgmanagementcorp.com"  target="_blank">
                        <img src="{% static 'images/rg/help2.png' %}"  width="60" height="30" style="background-color:white;border: 3px solid #ddd; border-radius: 4px;" >
                        <span class="label label-danger"></span>
                    </a>
                </li>
            </ul>
        </div>
         <!-- NOTIFICACIONES UNIFICADAS -->
        <div class="navbar-custom-menu pull-left" style="margin-left:80px">
            <ul class="nav navbar-nav">
                <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-danger"><i class="fa fa-info text-white"></i></span>
                </a>
                    <ul class="dropdown-menu">
                    {% include "user/notificaciones.html" %}
                    </ul>
                </li>

            </ul>
        </div>
        </nav>
      </header>